<div class="toolbar">
    <div class="toolbar-inner">
        <a href="/home">Home</a>
        <a href="/search">Search</a>
        <a class="toolbar-right" href="/options">Options</a>
    </div>
</div>