<!DOCTYPE html>
<html>
    <head>
        <% include partials/metadata %>
        <% include partials/styles %>

    </head>    
    <body>
        <% include partials/header %>
        <div class="container">
            <div class="jumbotron" style="margin-top: 10px">
                    <h1 style="text-align: center">Welcome to The Cocial Cedia!</h1>
            </div>
            <div>
                <div class="col-sm-12 col-md-5">
                    <h2>Login</h2>
                    <form class="form-group" action="/login" method="POST">
                        <div>
                            <input class="form-control" type="email" placeholder="E-mail" name="email">
                        </div>
                        <div>
                            <input class="form-control" type="password" placeholder="Password" name="password">
                        </div>
                        <div>
                            <button class="btn">Login</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 col-md-2">
                    <h3 style="text-align: center">or</h3>
                </div>
                <div class="col-sm-12 col-md-5">
                    <h2>Create an account:</h2>
                    <form class="form-group" action="/createaccount" method="POST">
                        <div>
                            <input class="form-control" type="text" placeholder="Full name" name="user_name">
                        </div>
                        <div>
                            <input class="form-control" type="email" placeholder="E-mail" name="email">
                        </div>
                        <div>
                            <input class="form-control" type="password" placeholder="Password" name="password">
                        </div>
                        <div>
                            <input class="form-control" type="password" placeholder="Repeat password" name="password_repeat">
                        </div>
                        <div>
                            <input class="form-control" type="text" placeholder="Gender" name="gender">
                        </div>
                        <div>
                            <button class="btn" >Register</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- <div class="col-sm-12 col-md-6">
                <img src="/images/tcc-logo.png" alt="the cocial cedia logo" width="300px">
            </div> -->
        </div>

        <% include partials/scripts %>
        <script type="text/javascript" src="/controllers/index.js"></script>
    </body>
</html>