/* tags */
/* 
* 
* 
* 
* 
* 
*/
body {
    background-color: lightgrey;
}

.indexForm div {
    margin-top:5px;
}

.toolbar-item a {
    font-size: 1.5em;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 50px;
    
}

/* classes */
/* 
* 
* 
* 
* 
* 
*/
.hieroent {
    /* background: #FC5C7D;
    background: -webkit-linear-gradient(to top, #6A82FB, #FC5C7D);  
    background: linear-gradient(to top, #6A82FB, #FC5C7D);  */

    background: #24c6dc; 
    background: -webkit-linear-gradient(to bottom, #24c6dc, #514a9d); 
    background: linear-gradient(to bottom, #24c6dc, #514a9d); 


    /* background: #40E0D0;
    background: -webkit-linear-gradient(to top, #FF0080, #FF8C00, #40E0D0);
    background: linear-gradient(to top, #FF0080, #FF8C00, #40E0D0);
    */

    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* .toolbar {
    width: 100%;
    height: 10%;
    position: sticky;
    margin-top: 0;
    background-color: gray;
    
}

.toolbar-item {

}

.toolbar-right {
    margin-left: 69%;
    margin-right: 0;
} */

/* ID */
/* 
* 
* 
* 
* 
* 
*/


